.spacer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
	border: 2px solid var(--color-secondary);
	border-right: none;
	border-left: none;
	&__paragraph {
		white-space: nowrap;
		padding: 0px 100px;
		font-weight: 900;
		font-size: 96px;
		text-transform: uppercase;
		color: transparent;
		-webkit-text-stroke: 3px var(--color-secondary);
		animation: marquee 5s linear infinite;
	}
}

@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}
