.spacer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
	border: 2px solid var(--color-secondary);
	border-right: none;
	border-left: none;
	p {
		white-space: nowrap;
		margin: 0px 100px;
		font-weight: 900;
		font-size: 96px;
		text-transform: uppercase;
		color: transparent;
		-webkit-text-stroke: 3px var(--color-secondary);
	}
}
