:root {
	/* Fonts */
	--body-font: 'Urbanist', -apple-system, system-ui, sans-serif;

	/* Colors */
	--color-white: #ffffff;
	--color-primary: #655d5d;
	--color-primary-hover: #f3f6f9;
	--color-secondary: #ff7297;
	/* End Dark Projects styles */

	/* Fonts */ // for 1440px
	--Fonts-big: 96px; // Hrizontal Spacers
	--Fonts-h1: 72px; // small titles
	--Fonts-h2: 36px; // Big text
	--Fonts-h3: 28px; // normal text
	--Fonts-h4: 24px; // Big description
	// --Fonts-h6: 14px; // description

	@media screen and (max-width: 1280px) {
		--Fonts-big: 64px; // Hrizontal Spacers
		--Fonts-h1: 52px; // small titles
		--Fonts-h2: 28px; // Big text
		--Fonts-h3: 24px; // normal text
		--Fonts-h4: 20px; // Big description
	}
	// @media screen and (max-width: 768px) {
	// 	--Fonts-big: 96px; // Hrizontal Spacers
	// 	--Fonts-h1: 72px; // small titles
	// 	--Fonts-h2: 36px; // Big text
	// 	--Fonts-h3: 28px; // normal text
	// 	--Fonts-h4: 24px; // Big description
	// }

	@media screen and (max-width: 400px) {
		--Fonts-big: 40px; // Hrizontal Spacers
		--Fonts-h1: 36px; // small titles
		--Fonts-h2: 24px; // Big text
		--Fonts-h3: 20px; // normal text
		--Fonts-h4: 16px; // Big description
	}

	/* Wrapper */
	--wrapper_width: 1440px;
	@media screen and (max-width: 1440px) {
		--wrapper_width: 1180px;
	}
}
