.footer {
	&__fullContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		border: 2px solid var(--color-secondary);
		border-top: none;
		padding-bottom: 40px;
	}
	&__container {
		margin: 50px 0px;
		// min-height: 360px;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}
	&__contacts {
		max-width: 360px;
		&_title {
			font-size: 24px;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		&_wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			p {
				margin: 10px 0px;
			}
		}
	}

	&__menu {
		&_title {
			font-size: 24px;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		&_active {
			color: var(--color-secondary);
		}
		&_wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			p {
				margin: 10px 0px;
				cursor: pointer;
			}
		}
	}
	&__other {
		max-width: 350px;

		&_title {
			font-size: 24px;
			font-weight: 600;
			text-transform: uppercase;
		}
		&_active {
			color: var(--color-secondary);
		}
		&_wrapper {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
			img {
				height: 50px;
				width: 50px;
				margin: 20px 10px;
				cursor: pointer;
				&:first-child {
					margin-left: 0;
				}
			}
		}
		&__partners {
			p {
				margin-top: 20px;
				cursor: pointer;
			}
		}
	}
	&__spacer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 10px 0px;
		border: 2px solid var(--color-secondary);
		border-right: none;
		border-left: none;
		p {
			white-space: nowrap;
			margin: 0px 100px;
			font-weight: 900;
			font-size: 96px;
			text-transform: uppercase;
			color: transparent;
			-webkit-text-stroke: 3px var(--color-secondary);
		}
	}
}
