.donuts {
	&__product {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 20px;
		max-width: 390px;
		&__wrapper {
			margin-top: 100px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	&__title {
		color: var(--color-secondary);
		font-size: 36px;
		line-height: 43px;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 30px;
		margin-bottom: 5px;
		text-align: center;
	}
	&__price {
		font-weight: 500;
		font-size: 28px;
		margin-bottom: 10px;
		color: var(--color-secondary);
		text-align: center;
	}
	&__text {
		font-size: 24px;
		font-weight: 400;
		text-align: center;
		margin-bottom: 20px;
	}
	&__row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		&_btn {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 20px;
			min-width: 200px;
			padding: 13px 35px;
			background: var(--color-secondary);
			border: 1px solid #fff;
			color: #fff;
			font-size: 24px;
			font-weight: 600;
			cursor: pointer;
			box-shadow: 4px 4px 10px rgba(125, 116, 160, 0.35);
		}
	}
	&__counter {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		min-width: 70px;
		p {
			padding: 0px 7px;
		}
		img {
			cursor: pointer;
			padding: 10px;
		}
	}
	&__button {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-weight: 600;
		font-size: 24px;
		text-transform: uppercase;
		cursor: pointer;
		margin-top: 40px;
		&::after {
			margin-left: 10px;
			font-size: 0px;
			content: '';
			height: 6px;
			width: 6px;
			border-radius: 100%;
			padding: 4px;
			border: 8px solid rgba(101, 93, 93, 1);
			background-color: #fff;
		}
	}
	&__spacer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 10px 0px;
		border: 2px solid var(--color-secondary);
		border-right: none;
		border-left: none;
		p {
			white-space: nowrap;
			margin: 0px 100px;
			font-weight: 900;
			font-size: 96px;
			text-transform: uppercase;
			color: transparent;
			-webkit-text-stroke: 3px var(--color-secondary);
		}
	}
}

.collect {
	&__fullContainer {
		margin-top: 150px;

		min-height: 540px;
		background-image: url('@img/collect-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}
	&__container {
		// max-width: 860px;
		// width: 100%;
		border-radius: 20px;
		background-color: rgba(255, 255, 255, 1);
		padding: 50px;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}
	&__leftSection {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		height: 100%;
		margin-right: 5px;
	}
	&__title {
		font-weight: 700;
		font-size: 36px;
		text-transform: uppercase;
		color: var(--color-secondary);
		margin-bottom: 35px;
	}
	&__description {
		max-width: 405px;
		font-weight: 400;
		font-size: 24px;
	}
	&__button {
		margin-top: 50px;
		padding: 13px 30px;
		border-radius: 20px;
		color: #fff;
		cursor: pointer;
		font-weight: 600;
		font-size: 24px;
		border: 1px solid #fff;
		background-color: var(--color-secondary);
		box-shadow: 4px 4px 10px rgba(125, 116, 160, 0.35);
	}
}
