.about {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--Dark-bg-primary);

	padding-top: 50px;
	&__wrapper {
		width: var(--wrapper_width);
		min-height: 80px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	&__subtitle {
		font-style: normal;
		font-weight: 400;
		font-size: var(--Fonts-h3);
		line-height: 29px;

		&_purple {
			margin: 0px 7px;
			color: var(--Dark-link-color);
			border-bottom: 2px solid var(--Dark-link-color);
			&:hover {
				color: var(--Dark-link-color-hover);
				border-bottom: 2px solid var(--Dark-link-color-hover);
			}
			&:focus {
				color: var(--Dark-link-color-focus);
				border-bottom: 2px solid var(--Dark-link-color-focus);
			}
		}
	}
	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: var(--Fonts-h1);
		min-width: 100%;
		// letter-spacing: -1px;

		padding: 10px 0;
		letter-spacing: -3px;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		background-size: cover;
		background-image: url('/static/about/title-blue.gif');
	}
	&__text {
		font-weight: 500;
		font-size: var(--Fonts-h4);
		letter-spacing: -0.4px;
		line-height: 1.7em;
		width: 100%;
		&_fw400 {
			font-weight: 400;
		}
		&_mr7 {
			margin-right: 7px;
		}
	}
	&__link {
		margin: 0px 7px;
		color: var(--Dark-link-color);
		border-bottom: 2px solid var(--Dark-link-color);
		&:hover {
			color: var(--Dark-link-color-hover);
			border-bottom: 2px solid var(--Dark-link-color-hover);
		}
		&:focus {
			color: var(--Dark-link-color-focus);
			border-bottom: 2px solid var(--Dark-link-color-focus);
		}
	}
	&_light {
		background-color: var(--Light-bg-primary);
		.about__wrapper {
			.about {
				&__subtitle {
					color: var(--Light-font-color);
					&_purple {
						color: var(--Light-link-color);
						border-bottom: 2px solid var(--Light-link-color);
						&:hover {
							color: var(--Light-link-color-hover);
							border-bottom: 2px solid var(--Light-link-color-hover);
						}
						&:focus {
							color: var(--Light-link-color-focus);
							border-bottom: 2px solid var(--Light-link-color-focus);
						}
					}
				}
				&__text {
					color: var(--Light-font-color);
					.about__link {
						color: var(--Light-link-color);
						border-bottom: 2px solid var(--Light-link-color);
						&:hover {
							color: var(--Light-link-color-hover);
							border-bottom: 2px solid var(--Light-link-color-hover);
						}
						&:focus {
							color: var(--Light-link-color-focus);
							border-bottom: 2px solid var(--Light-link-color-focus);
						}
					}
				}
			}
		}
	}

	&_dark {
		background-color: var(--Dark-bg-primary);
		.about__wrapper {
			.about {
				&__subtitle {
					color: var(--Dark-font-color);
					&_purple {
						color: var(--Dark-link-color);
						border-bottom: 2px solid var(--Dark-link-color);
						&:hover {
							color: var(--Dark-link-color-hover);
							border-bottom: 2px solid var(--Dark-link-color-hover);
						}
						&:focus {
							color: var(--Dark-link-color-focus);
							border-bottom: 2px solid var(--Dark-link-color-focus);
						}
					}
				}
				&__text {
					color: var(--Dark-font-color);
					.about__link {
						color: var(--Dark-link-color);
						border-bottom: 2px solid var(--Dark-link-color);
						&:hover {
							color: var(--Dark-link-color-hover);
							border-bottom: 2px solid var(--Dark-link-color-hover);
						}
						&:focus {
							color: var(--Dark-link-color-focus);
							border-bottom: 2px solid var(--Dark-link-color-focus);
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.about {
		&__title {
			// font-size: 45px;
			letter-spacing: -1px;
			padding: 0;
			padding-top: 10px;
		}
		&__text {
			letter-spacing: -0.2px;
			line-height: 30px;
		}
	}
}

@media only screen and (max-width: 540px) {
	.about {
		padding-bottom: 20px;
		&__text {
			letter-spacing: -0.4px;
		}
	}
}
@media only screen and (max-width: 500px) {
	.about {
		&__text {
			letter-spacing: -0.4px;
		}
	}
}

@media only screen and (max-width: 470px) {
	.about {
		&__text {
			letter-spacing: 0;
		}
	}
}
@media screen and (max-width: 400px) {
	.about {
		&__wrapper {
			margin: 0px 10px;
		}
	}
}
@media only screen and (max-width: 325px) {
	.about {
		&__text {
			margin: 0;
		}
	}
}
