//====================================================================================================

//====================================================================================================
.header {
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 70px;
	}
	&__logo {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 600;
		img {
			height: 35px;
			width: 35px;
			margin-right: 5px;
		}
	}
	&__nav {
		&-active {
			border-bottom: 2px solid rgba(255, 114, 151, 1);
		}
		&-bag {
			position: relative;
			padding-right: 14px;
			&-counter {
				position: absolute;
				top: -10px;
				right: -5px;
				font-size: 14px;
				font-weight: 400;
				border: 1px solid rgba(255, 114, 151, 1);
				padding: 2px 3px;
				border-radius: 9999px;
			}
		}
		ul {
			display: flex;
			flex-direction: row;
			li {
				// padding-top: 4px;
				// padding-bottom: 4px;
				padding: 4px 10px;
				margin: 0px 10px;
				cursor: pointer;
			}
		}
	}
	&__contacts {
		ul {
			display: flex;
			flex-direction: row;
			align-items: center;
			li {
				margin: 4px 10px;
				img {
					height: 35px;
					width: 35px;
				}
			}
		}
	}
}
//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: '';
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
